body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#recipe-container {
    text-align: center;
    background-color: #fffbf0; /* Light yellow */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff5733; /* Light orange */
}

button {
    background-color: #ffdb58; /* Light yellow */
    color: #ff5733; /* Light orange */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffd700; /* Light goldenrod yellow */
}

#recipe-details {
    margin-top: 20px;
    text-align: left;
}

#recipe-name {
    color: #ff5733; /* Light orange */
    margin-bottom: 10px;
}

#recipe-ingredients, #recipe-instructions {
    color: #c70039; /* Light red */
    margin-bottom: 10px;
}
